.login_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.login_heading{
  color: orangered;
  align-self: center;
}

.login-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main{
  display: flex;
  flex-direction: column;
  gap: .2rem;
  margin-top: 1rem;
  color: red;
}

.btn{
  margin: 1rem;
  width: 120px;
  height: 30px;
  background-color: rgb(215, 95, 135);
  color: antiquewhite;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;

  &:hover{
    background-color: rgb(223, 43, 103);
  }
}

input{
  width: 200px;
  height: 20px;
}